.wrapper {
  /* border: 3px solid #000; */
  border-radius: 50px;
  margin: 10rem;
  background: rgb(168, 161, 161);
  height: 10px;
}
.progress {
  text-align: right;
  border-radius: inherit;
  transition: all 1s ease-in;
  height: 10px;
}
.percentage {
  padding: 5px;
  font-weight: bold;
}

/* Progress bar */
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  /* background-color: blueviolet; */
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 8px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
}

progress[value]::-webkit-progress-value {
  background-color: #f26822;
  box-shadow: 0 2px 6px 1px #ec8139;
  border-radius: 8px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
